.formulario {
    background: #bacaca;
    border: 1px solid #aaa;
    display: table;
    width: auto;
    padding: 10px;
}

div.login {
    margin: 10px;
}

div.error-message {
    margin: 10px;
    padding: 10px;
    color: red;
    font-weight: bold;
    background: #bacaca;
    border: 1px solid #aaa;
}

.miembroFormulario {
    float: left;
    font-size: 16px;
}